<!DOCTYPE html>
<html lang="en" xmlns='http://www.w3.org/1999/xhtml' xmlns:th='http://www.thymeleaf.org' >
<head>
  <meta charset="utf-8" />
  <title>Accept a payment</title>
  <meta name="description" content="A demo of a payment on Stripe" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="checkout.css" />

</head>

<body>
<!-- Display a payment form -->
<form id="payment-form" th:action="@{/}" th:object="${checkoutForm}" method="post">

  <p>Welcome to Stripe Payment Project</p>

  <label for="email">Email Address</label>
  <input type="text" id="email" th:field="*{email}" placeholder="Enter email address" required/>
  <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></p>

  <label for="amount">Amount</label>
  <input type="text" id="amount" th:field="*{amount}" placeholder="Amount" required/>
  <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" style="color: red"></p>

  <label for="featureRequest">Feature Request</label>
  <input type="text" id="featureRequest" th:field="*{featureRequest}" placeholder="Feature Request" required/>
  <p th:if="${#fields.hasErrors('featureRequest')}" th:errors="*{featureRequest}" style="color: red"></p>

  <p><input type="submit" id="submitButton"/></p>

</form>
</body>

</html>